<a href="https://colab.research.google.com/github/trivedi2u/python/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q No. 1 : Write a program to Print the datatypes of the following data objects as:
a) 5
b) 2.0
c) 1+2j
d) “Biochemistry

In [ ]:
data = input("Please enter any data to know its datatype :")
print(type(data))

<class 'str'>

Q. No. 2 : Write a program to reverse a string using for loop
S1 = "Engineering College"

In [ ]:
#Given String
S1 = "Engineering College"
reverse = list(S1)
for i in range(0,len(S1)):
  reverse[i] = S1[-i-1]
rev = reverse[0]
for i in range(1,len(S1)):
  rev = rev+reverse[i]
print(rev)

egelloC gnireenignE

Q.No.3 : Write a program that reads a string and returns a table of the letters of the alphabet in 
alphabetical order which occur in the string together with the number of times each letter 
occurs. Case should be ignored.

In [ ]:

sample = input("Please enter any statement :")

sample1 = sample.lower()
sample2 = set(sample1)
 
sample3 = list(sample2)

for x in sample3:
  if x ==" " or x =="." or x ==",":
    sample3.remove(x)
sample4 = sorted(sample3)
# print(sample3[3]>sample3[2])
# i=0
# while i<len(sample3)-1:
#  for y in range(0,len(sample3)-1):
#   if sample3[i]>sample3[i+1]:
#     sample3[i+1] = sample3[i] 
# i+=1

for x in sample4:
  if x!=" ":
    repeat = sample1.count(x)
    
    print(x,repeat)

Please enter any statement :I am Shashank Kumar Trivedi
a 4
d 1
e 1
h 2
i 3
k 2
m 2
n 1
r 2
s 2
t 1
u 1
v 1

Q. No.4 : Create a dictionary to keep track of your friend’s birthdays. Create a dictionary with names 
and birthdays of friend’s. If user enters the name of the friend then it should return the 
birthday of the person. The interactive dictionary should be like this
Welcome to the dictionary!!!
I will help you track the birthday of your friend!!!
Following are the names of your friends mentioned in the dictionary
Pallavi
Simran
Vishal
Diksha
Ankit
Whose birthday you want to see?

In [ ]:
print("Welcome to the dictionary!!!")
print("I will help you track the birthday of your friend!!! Following are the names of your friends mentioned in the dictionary")

friend = {"Pallavi":"10/02/2000","Simran":"10/01/2002","Vishal":"10/01/2001","Diksha":"30/04/2001","Ankit":"16/05/1990"}
for x in friend.keys():
  print(x)
name = input("Whose birthday you want to see?")
print(friend[name])

Welcome to the dictionary!!!
I will help you track the birthday of your friend!!! Following are the names of your friends mentioned in the dictionary
Pallavi
Simran
Vishal
Diksha
Ankit
Whose birthday you want to see?Simran
10/01/2002

Q. No. 5 : Create a list consisting of 12 integers and take input from the user. Now create 
a list to remove all the duplicate elements and display the new list

In [ ]:
 list = [int(x) for x in input("Please enter 12 numbers using commas e.g. 4,5,43").split(',')]
 done = set(list)
 for x in done:
   print(x)

Please enter 12 numbers using commas e.g. 4,5,4312,22,55,22,4,7,4,7,5
4
5
7
12
22
55

Q.No. 6 : Given a two Python lists. Iterate both lists simultaneously such that list1 
should display item in original order and list2 in reverse order.
Eg. L1= [ a, b, c] ; L2=[1, 2, 3]
Output:
a 3
b 2
c 1

In [ ]:
# According to the query two list are given
l1 = ['a','b','c']
l2 = [1,2,3]
for x in range(0,len(l1)):
  print(l1[x],l2[-x-1])

a 3
b 2
c 1

Q.No. :7. Create a tuple of integers. Write a program to count the number of elements 
in the tuple. Now, check whether the number (length of tuple) is present in the 
tuple, and if present, list the index.
Eg. T1 = ( 1, 4, 7, 9, 6, 7)
Length/no. of elements=6 
(Return index of 6) index of 6= 4

In [ ]:
t = tuple(int(x) for x in input("Please enter number e.g. 33 43 78 3 5 :").split())
for x in t:
  if x== len(t):
    print(t.index(x))

Please enter number e.g. 33 43 78 3 5 :1 2 5 4 7
2